/* common color and font classes */
.dark-color{
    color: #1d202b;
}

/* main block styles */
#main-block{
    box-sizing: border-box;

    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.99;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}


/* audio uploader styles */
#audio-form{
    width: 100%;
    height: 44px;
    display: flex;
}

#audio-uploader-label{
    width: 100%;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(18, 30, 57, 0.04);
    border: solid 1px #e6e9eb;
    background-color: #ffffff;
    padding: 8px 20px;
}

#headphones-icon{
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-right: 10px;
}

#audio-label-text{
    font-size: 14px;
}

/* thumbnail styles */
#thumbnail-label{
    cursor: pointer;
    width: 130px;
    height: 130px;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 10px 15px 0 rgba(18, 30, 57, 0.07);
    background-color: #ffffff;
    padding: 0;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#thumbnail-upload-icon{
    height: 24px;
    width: 24px;
    display: block;
    margin: auto;
}

#thumbnail-upload-text{
    font-size: 14px;
    text-align: center;
    margin-bottom: 13px;
}

#thumbnail-preview{
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
    width: 130px;
    height: 130px;
    box-shadow: 0 10px 15px 0 rgba(18, 30, 57, 0.07);
}

#thumbnail-preview:hover{
    filter: opacity(70%)
}

#thumbnail-image-shadow{
    position: absolute;
    top: -6px;
    z-index: -1;

    width: 150px;
    height: 150px;
    opacity: 0.77;
    border-radius: 39px;
    filter: blur(6px);
    object-fit: contain;
}

/* audio block styles */
#audio-block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, #f7fafc, #f5f7fb);
    width: 100%;
    padding: 40px 0;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

#bg-image{
    position: absolute;
    top: 6.4px;
    bottom: 6.4px;
    width: 100%;
    height: calc(100% - 12.8px);
    object-fit: cover;
    z-index: -1;

    filter: opacity(25%) blur(5px);
    border-radius: 5px;
}

/* audio metadata styles */
#audio-metadata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

#audio-file-name{
    font-family: SFProText;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    background-color: transparent;
    border: none;
    width: 400px;
}

#audio-author{
    margin-top: 10px;
    font-size: 16px;
    font-family: SFProText;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
}

#audio-author:focus, #audio-file-name:focus{
    outline: none !important;
}

/* audio controller styles */
#audio-play-btn, #audio-pause-btn{
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 3px 8px -2px rgba(18, 30, 57, 0.14);
    background-color: #ffffff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#play-btn-icon, #pause-btn-icon{
    position: relative;
    top: 2.3px;
    object-fit: cover;
    margin-right: 8px;
}

#play-btn-text, #pause-btn-text{
    font-size: 16px;
    letter-spacing: -0.4px;
}